@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>bs4 edit profile page - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
</head>

<div class="breadcrumb-section breadcrumb-bg mb-2"></div>

<div class="row justify-content-center">
    <div class="col-12 col-lg-auto mb-3" style="width: 15%;">
        <div class="card p-3">
        <partial name="_ManageNav" />
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
</html>
  
@section Scripts {
    @RenderSection("Scripts", required: false)
}
