@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var imageUrl = Model.Input.ImageUrl;
}

@*<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" placeholder="Please choose your username." />
                <label asp-for="Input.UserName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>*@

<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <form class="form" id="profile-form" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto pointer">
                                                @if (imageUrl != null)
                                                {
                                                    <label for="imageInput">
                                                    <img class="profile-picture" src="@Model.Input.ImageUrl" />
                                                    </label>
                                                }

                                                else
                                                {
                                                    <label for="imageInput">
                                                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                        <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                                    </div>
                                                    </label>
                                                }
                                                
                                                <input type="file" id="imageInput" asp-for="Input.ProfilePicture" class="form-control" style="display: none;" />
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                                            <p class="mb-0">johnny.s</p>
                                            <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                                            <div class="mt-2">
                                                <label class="btn btn-primary" for="imageInput">
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Change Photo</span>
                                                </label>
                                                <input type="file" id="imageInput" asp-for="Input.ProfilePicture" class="form-control" style="display: none;" />
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-right">
                                                <span class="badge badge-secondary">@Model.Input.UserRole</span>
                                            <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                                        </div>
                                    </div>

                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="active nav-link">Profile Data</a>
                                     </li>

                                        <li class="nav-item">
                                            <a style="color: black" class="nav-link">Change Password</a>
                                         </li>

                                        <li class="nav-item">
                                            <a style="color: black" class="nav-link">External Logins</a>
                                        </li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">


                                        <form class="form" id="profile-form" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input asp-for="Input.UserName" class="form-control" placeholder="Please choose your username." />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input class="form-control" type="text" placeholder="user@example.com">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button id="update-profile-button" type="submit" class="btn btn-primary">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="px-xl-3">
                                <a class="btn btn-block btn-secondary" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
