﻿@using FCArsenalFanPage.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arsenal FC Website | @this.ViewData["Title"] | </title>


    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.ico" asp-append-version="true">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css" asp-append-version="true">
    <!-- main style -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">

</head>
<body>
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img class="logo" src="~/img/favicon.ico" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="navi-item">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="navi-item">
                                    <a asp-controller="News" asp-action="All">News</a>
                                    @*<ul class="sub-menu">
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="single-news.html">Single News</a></li>
                                    </ul>*@
                                </li>
                                <li class="navi-item">
                                    <a asp-controller="News" asp-action="Create">Create News</a>
                                </li>
                                <li class="navi-item">
                                    <a asp-controller="Shop" asp-action="All">Shop</a>

                                </li>

                                <li class="navi-item">
                                    <a asp-controller="Shop" asp-action="Create">Create Product</a>

                                </li>
                                <li>
                                    <div class="header-icons">

                                        <partial name="_LoginPartial" />
                                    </div>

                                </li>

                            </ul>

                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    @this.RenderBody()

    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                            <li>support@fruitkha.com</li>
                            <li>+00 111 222 3333</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Shop</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- jquery -->
    <script src="~/js/jquery-1.11.3.min.js" asp-append-version="true"></script>
    <!-- bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- count down -->
    <script src="~/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/js/jquery.isotope-3.0.6.min.js" asp-append-version="true"></script>
    <!-- waypoints -->
    <script src="~/js/waypoints.js" asp-append-version="true"></script>
    <!-- owl carousel -->
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <!-- magnific popup -->
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <!-- mean menu -->
    <script src="~/js/jquery.meanmenu.min.js" asp-append-version="true"></script>
    <!-- sticker js -->
    <script src="~/js/sticker.js" asp-append-version="true"></script>
    <!-- main js -->
    <script src="~/js/main.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>