@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@inject IApplicationUserService userService;
@inject IOrderService orderService;

@{
    var user = UserManager.GetUserAsync(this.User).Result;
}

    @if (this.SignInManager.IsSignedIn(this.User))
    {
    var imageUrl = userService.GetProfilePictureUrl(user);
    var count = orderService.GetCountByUserId(user.Id);

    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.AssistantAdministrator))
        {
            
                <a class="navi-item" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin Panel</a>
            
        }

    <li class="navi-item">
        <a class="navi-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <img class="profile-img rounded-circle shadow-4-strong" src="@imageUrl" alt="Avatar">
        </a>
    </li>

   

    <li>
        <a class="shopping-cart cart-size" asp-area="" asp-controller="Orders" asp-action="Cart">
            <i class="fa" style="font-size:24px">&#xf07a;</i>
            <span class='badge badge-warning' id='lblCartCount'> @count </span>
        </a>
    </li>

    }
    else
    {
    <li class="navi-item">
    <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>

    <li class="navi-item">
    <a class="navi-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }

