@using FCArsenalFanPage.Common
@using FCArsenalFanPage.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (this.SignInManager.IsSignedIn(this.User))
    {
       
           @* <a class="navi-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @this.User.Identity.Name!</a>*@
        
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            
        }

    <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">Logout</a>
    }
    else
    {
    <li class="navi-item">
    <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>

    <li class="navi-item">
    <a class="navi-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }

