<div class="breadcrumb-section breadcrumb-bg">
</div>

<h1>Класиране</h1>
<table>
    <thead>
        <tr>
            <th>Отбор</th>
            <th>Точки</th>
        </tr>
    </thead>
    <tbody>
        <!-- Генерирай редове с данни от API -->
    </tbody>
</table>