.center-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    padding: 20px; 
}

.premier-league-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 960px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}


.premier-league-table th, .premier-league-table td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    font-size: 14px;
}

.premier-league-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.premier-league-table td img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.premier-league-table .team-column {
    text-align: left;
    white-space: nowrap;
    padding-left: 5px;
    width: 150px;
}

.premier-league-table .position-column {
    padding-right: 5px;
}

.premier-league-table .played-column {
    padding-left: 10px;
}

.premier-league-table .goals-difference-column {
    width: 145px;
}

.premier-league-logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .premier-league-logo-image img {
        width: 20%;
        height: auto;
    }