.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.premier-league-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 960px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .premier-league-table tr td {
        border-bottom: 1px solid #ddd;
    }

    .premier-league-table tr:nth-child(18),
    .premier-league-table tr:nth-child(19),
    .premier-league-table tr:nth-child(20),
    .premier-league-table tr:nth-child(1),
    .premier-league-table tr:nth-child(2),
    .premier-league-table tr:nth-child(3),
    .premier-league-table tr:nth-child(4),
    .premier-league-table tr:nth-child(5) {
        position: relative;
    }

        .premier-league-table tr:nth-child(18) td:first-child::before,
        .premier-league-table tr:nth-child(19) td:first-child::before,
        .premier-league-table tr:nth-child(20) td:first-child::before,
        .premier-league-table tr:nth-child(1) td.position-column::before,
        .premier-league-table tr:nth-child(2) td.position-column::before,
        .premier-league-table tr:nth-child(3) td.position-column::before,
        .premier-league-table tr:nth-child(4) td.position-column::before,
        .premier-league-table tr:nth-child(5) td:first-child::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5%;
            width: 5px;
            height: 90%;
            background-color: transparent;
        }

        .premier-league-table tr:nth-child(18) td:first-child::before,
        .premier-league-table tr:nth-child(19) td:first-child::before,
        .premier-league-table tr:nth-child(20) td:first-child::before {
            background-color: red;
        }

        .premier-league-table tr:nth-child(1) td.position-column::before,
        .premier-league-table tr:nth-child(2) td.position-column::before,
        .premier-league-table tr:nth-child(3) td.position-column::before,
        .premier-league-table tr:nth-child(4) td.position-column::before {
            background-color: blue;
        }

        .premier-league-table tr:nth-child(5) td:first-child::before {
            background-color: green; 
        }

h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.premier-league-table th, .premier-league-table td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    font-size: 14px;
}

.premier-league-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.premier-league-table td img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.premier-league-table .team-column {
    text-align: left;
    white-space: nowrap;
    padding-left: 5px;
    width: 150px;
}

.premier-league-table .position-column {
    padding-right: 5px;
}

.premier-league-table .played-column {
    padding-left: 10px;
}

.premier-league-table .goals-difference-column {
    width: 145px;
}

.premier-league-logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .premier-league-logo-image img {
        width: 20%;
        height: auto;
    }

.standings-legend-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
}

.standings-legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.standings-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.standings-blue {
    background-color: blue;
}

.standings-green {
    background-color: green;
}

.standings-red {
    background-color: red;
}

.match-card {
    width: 90%; /* Увеличаване на ширината спрямо екрана */
    max-width: 800px; /* Ограничаване на максималната ширина */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.match-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.match-date {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase; 
}

.tournament-emblem {
    width: 80px;
    height: 80px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 15px 0;
}

.match-teams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    width: 100%;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.team-crest {
    width: 80px; 
    height: 80px;
    margin-bottom: 10px;
}

.team-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.match-time-center {
    font-size: 24px; 
    font-weight: bold;
    color: #444;
    flex: 0 0 120px;
    text-align: center;
}



.internal-navigation {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 15px 0;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    border-top: 4px solid #e60000;
    border-bottom: 2px solid #dcdcdc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 30px; 
    max-width: 800px; 
    width: 100%; 
    border-radius: 8px; 
    margin-left: auto; 
    margin-right: auto; 
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 40px; /* Разстояние между елементите */
}

.nav-link {
    font-family: 'Northbank Forward', sans-serif; /* Шрифт за навигацията */
    font-weight: 700; /* Подебел текст */
    font-size: 20px; /* По-голям шрифт */
    text-decoration: none;
    color: #333; /* Цвет на текста */
    transition: color 0.3s ease, transform 0.3s ease;
}

    .nav-link:hover {
        color: #e60000; /* Червен при hover */
        transform: scale(1.05); /* Леко уголемяване при hover */
    }

    .nav-link.active {
        color: #e60000; /* Червен за активния елемент */
        font-weight: 700;
        border-bottom: 3px solid #e60000; /* Линия под активния елемент */
        padding-bottom: 10px; /* Леко увеличено разстояние под активния елемент */
    }

.nav-item:last-child {
    margin-right: 0;
}

/* Мобилна версия */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .nav-link {
        font-size: 18px;
    }

}

.match-time-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-box {
    padding: 5px 15px; /* Малко вътрешно отстояние */
    background-color: #f0f0f0; /* Мек сив фон */
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px; /* Закръглени ъгли */
    width: auto;
}

.resultHeader{
   text-align: center;
   font-weight:normal;
   font-family:'Bookman Old Style'
}