@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
    var providerImg = Model.ProviderDisplayName.ToLower() + ".png";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
</head>

<div class="breadcrumb-section breadcrumb-bg mb-2">
</div>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img style="" class="image" src="~/img/@providerImg"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <p id="external-login-description" class="text-info">
                    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </p>

                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" placeholder="Please enter your user name." />
                        <label asp-for="Input.UserName" class="form-label"></label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg login-btn">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
