@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg mb-3">
    <div class="container text-center">
 
    </div>
</div>

<div class="container mt-5 mb-5 text-center">
    <div class="shadow p-4 rounded bg-light">
        <p class="lead text-dark mb-4">
            Please check your email to reset your password.
        </p>
        <hr class="my-4" />
        <p class="text-dark">
            If you don't receive an email, please check your spam folder or try again.
        </p>
    </div>
</div>