@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="breadcrumb-section breadcrumb-bg mb-2">
</div>

<div class="mt-5 mb-5 container d-flex flex-column justify-content-center align-items-center">
    <div class="alert alert-success text-center">
        <h2 class="mb-3">Success!</h2>
        <p>
            Your password has been reset. Please
            <a asp-page="./Login" class="text-decoration-none text-primary fw-bold">click here to log in</a>.
        </p>
    </div>
    <a asp-page="./Index" class="btn product-btn">Go to Home</a>
</div>
